.section-how-videos  { 
  @extend .content-wrapper;  

  .list-item {
  	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 50px;

	> div {
		display: block;
	}
  }
  .image {
	position: relative;
	img {
		width: 100%;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		margin-bottom: 0;
	}
	.fas {
		position: absolute;
		@include center-align-absolute();
		font-size: 80px;
		color: $color-bg;
		// background: white;
		border-radius: 50%;
		padding: 0;
		&:before {
			z-index: 2;
			position: relative;
		}
		&:after {
			content: "";
			display: block;
			
			width: 50%;
			height: 50%;
			
			z-index: 0;
			background-color: white;
			@include center-align-absolute();
		}
	}
	@media (min-width: $screen-sm-min) {
		width: 50%;
	}

	&:hover {
		.fas {
			&:before {
				color: $light-blue;
			}
		}
	}
  }
  .text {
	
	padding-left: 50px;
	@media (min-width: $screen-sm-min) {
		width: 50%;
  	}
  }
  .btn {
  	margin-top: 25px;
  }
  
}

