.section-truck-preparation {
	@extend .content-wrapper;
}
.prep-step {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	div {
		display: block;
	}

	.image {
		
		@media (min-width: $screen-md-min) {
			width: 60%;
		}

	}
	.text {
		@media (min-width: $screen-md-min) {
			width: 40%;
		}
	}

	@media (min-width: $screen-md-min) {
		// flex-wrap: no-wrap;
		&:nth-child(odd) {
			flex-direction: row-reverse;		
		}
	}
}