@import 'global/variables';
@import 'global/mixins';

/*import global styles */
@import 'global/global';
@import 'fonts/fonts';
@import 'global/buttons';
@import 'global/magnific';
@import 'global/forms';
@import 'global/headers';
@import 'global/navigation';
@import 'global/footer';
//@import 'global/responsive';

/* styles used throughout site */
@import 'partials/home';
@import 'partials/slider';
@import 'partials/dealer';
@import 'partials/truck-details';


